body{
    margin: 20px;
}

.mainchart{
    border: 1px brown solid;
}

#map-tooltip{
    position: fixed;
    display: inline;
    opacity: 0;
	z-index: 999;
    background-color: black;
    color: white;
    width: 200px;
    padding: 5px;
    border-radius:5px;
    
}