body{
    margin: 20px;
}

.mainchart{
    border: 1px brown solid;
    height: 800;
    width: 800;
    margin-left: 50px;
}

.yearlabel{
    margin-left: 20px;
    margin-top: 10px;
    font-size: 20px;
}

#map-tooltip{
    position: fixed;
    display: inline;
    opacity: 0;
	z-index: 999;
    background-color: black;
    color: white;
    width: 200px;
    padding: 5px;
    border-radius:5px;
    
}

/* .areachart{
    border: 1px brown solid;
    height: 250px;
    width: 800px;
    margin-left: 50px;
    margin-top: 20px;
} */